@import '_helpers.scss';

.dropdown-wrapper {
  position: relative;
  padding-left: 12px;
  padding-right: 12px;

  .dropdown-menu {
    display: none;
    padding: 12px 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: $select-bg;
    color: $select-color;
    z-index: 99;
    box-shadow: 0px 0px 150px 5px rgba(0,0,0,0.75);
  }

  li {
    line-height: 20px;
    
    &:hover {
      background-color: $select-bg-hovered;
    }
  }
  
  a {
    display: block;
    padding: 11px 16px;
    color: $select-color;
  }

  .dropdown-label {
    display: flex;
    align-items: center;

    span {
      margin-right: 4px;
      color: $dropdown-text-color;
      font-size: 13px;
    }

    svg {
      font-size: $button-svg-fz / 2;
      transition: transform .3s ease-in-out;
      transform-origin: center center;
      color: $white;
    }
  }

  &:hover {
    .dropdown-menu {
      display: block;
    }

    .dropdown-label svg {
      transform: rotate(180deg);
    }
  }
}

// *** Custom Select UI 
.custom-select {
  border-radius: 30px;
  background-color: $select-primary;
  color: $select-color;
  position: relative;

  .select {
    min-width: 300px;
  }

  svg {
    display: none;
  }

  >svg {
    display: inline;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform .3s ease-in-out;
    pointer-events: none;
  }

  >[class*="MuiInputBase-focused"] {
    ~svg {
      transform: translateY(-50%) rotate(180deg);
    }
  }
}

// TODO: try another way to style without using Important rule.
[class*="MuiPopover-paper"] {
  background-color: $select-bg !important;
  color: $select-color !important;

  li {
    color: $select-color !important;

    &[class*="MuiListItem-selected"] {
      background-color: $select-bg;
    }

    &:hover {
      background-color: $select-bg-hovered;
    }
  }
}

[class*="MuiSelect"] {
  color: $select-color;
  padding: 0 12px;
}

[class*="MuiInput-underline"]::before,
[class*="MuiInput-underline"]::after {
  display: none !important;
}

// Custom Select UI ***

// *** Custom Switch UI

.custom-switch {
  label {
    height: 60px;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13.3333px;
    cursor: pointer;
    color: $button-color;
    transition: color .3s ease-in-out;

    &:hover {
      color: $white;

      .switch-shape::after {
        background-color: $white;
      }
    }
  }

  .switch-shape {
    display: inline-block;
    width: 22px;
    height: 12px;
    position: relative;
    background-color: $switch-bg;
    border-radius: 20px;
    margin-bottom: 6px;

    &::after {
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 50%;
      background-color: $switch-circle-bg;
      transition: transform .3s ease-in-out,
                  background-color .3s ease-in-out;
    }
  }

  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked {
    ~ .switch-shape::after {
      transform: translateX(100%);
    }
  }
}

// Custom Switch UI ***
