// *** screens sizes for responsice design / To use with respond(size) mixins.
$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;
// screens sizes for responsice design ***

$white: #fff;
$black: #000;

$nav-top-bg: #171717;
$nav-bottom-bg: #242424;
$nav-bottom-border: #1c1c1c;
$nav-spacer-bg: #1e1e1e;

$body-bg: #232323;
$body-color: #bcbcbc;

$primary-color: #e2ae5b;
$secondary-color: #b48375;

$menu-profile-bg: #424242;


// ??
$disabled-color: #9b9b9b;

// Shapes
$select-primary: #151515;
$select-bg: #242424;
$select-bg-hovered: #1b1b1b;
$select-color: #d0d0d0;

$tab-bg: #242424;
$tab-separator-color: #1a1a1a;


$button-color: #525252;
$button-fz: 13px;
$button-svg-fz: 24px;

$switch-bg: #525252;
$switch-circle-bg: #9b9b9b;

$dropdown-text-color: #6c6c6c;
