@import './helpers';
@import './shapes';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

html,
body,
#main-layout,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $body-color;
  background-color: $body-bg;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
  color: $primary-color;
}

main {
  height: calc(100% - 32px - 60px); // height - nat-top - nav-bottom;
  overflow-y: auto;
  @include respond(gt-md) {
    height: calc(100% - 32px - 60px - 60px); // height - nat-top - nav-bottom - margins;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 150px 5px rgba(0,0,0,0.75);
  }
}

.container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

@import '_layout.scss'
