@import './../styles/helpers.scss';

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 0 12px;
  background-color: $nav-top-bg;
}

.main-menu {
  display: flex;
  align-items: center;

  li {
    margin-right: 12px;
    margin-left: 12px;
  }

  a {
    line-height: 32px;
    color: $white;
    text-decoration: none;
    font-size: 12px;

    &.active {
      color: $primary-color;
      font-weight: bold;
    }
  }
}

.secondary-menu {
  display: flex;
  align-items: center;
}

.menu-profile {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  margin-left: 100px;
  margin-right: 12px;
  border-radius: 50%;
  color: $white;
  background-color: $menu-profile-bg;
}

.nav-bottom {
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: $nav-bottom-bg;
  border-bottom: 1px solid $nav-bottom-border;

  button {
    color: $button-color;
    transition: color .3s ease-in-out;

    &:hover {
      color: $white;
    }

    svg {
      font-size: $button-svg-fz;
      margin-bottom: 2px;
    }
  }
}

.nav-bottom-left,
.nav-bottom-right {
  display: flex;
}

.nav-bottom-left>*,
.nav-bottom-right button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-bottom-left {
  >* {
    border-right: 2px solid $nav-spacer-bg;
  }

  >div:first-child {
    color: $secondary-color;
  }

  >div:first-child,
  >button {
    padding-left: 12px;
    padding-right: 12px;
  }

  >div:last-child {
    padding-left: 80px;
    padding-right: 80px;
  }

  button {
    padding-left: 12
  }
}

.nav-bottom-right {
  margin-right: 186px;
  padding-left: 12px;
  padding-right: 12px;
  border-left: 2px solid $nav-spacer-bg;
  border-right: 2px solid $nav-spacer-bg;

  button {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}
