@import './../styles/helpers.scss';

h3 {
  color: $primary-color;
  font-weight: normal;
  font-size: 30px;

  svg {
    font-size: 60px;
    margin-left: -16px;
  }
}

.middle-section {
  ul {
    line-height: 24px;
  }
}

.selection-section {
  margin-top: 60px;
}

.tab {
  background-color: $tab-bg;
  border-radius: 40px;
  box-shadow: 0px 0px 50px 5px rgba($black, .75);
}

.selection-top {
  border-bottom: 1px solid $tab-separator-color;

  button {
    padding: 12px 50px;
    position: relative;
    font-size: 14px;
    color: $secondary-color;
    
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 3px;
      background-color: $primary-color;
      position: absolute;
      bottom: -2px;
      left: 50%;
      transform: translateX(-50%);
      transition: width .3s ease-in-out;
    }

    &.active {
      color: $primary-color;

      &::after {
        width: 30%;
      }
    }

    &:disabled {
      color: $disabled-color;
      cursor: not-allowed;
    }
  }
}

.selection-bottom {
  padding: 50px;
}

.tab2 {
  > div {
    margin-right: 30px;
  }
}
